.table-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.table-view .content {
    -fx-background-color: transparent, white, transparent, white;
}

.table-view:focused {
    -fx-background-color: transparent, white, transparent, white;
}


.table-row-cell{
    /*-fx-cell-size: 40px;*/
    -fx-alignment: center;
}

.table-column {
    -fx-alignment: center;
}


.table-view > .virtual-flow > .scroll-bar:vertical{
    /*-fx-pref-width: 5;*/
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: -1 -1 -1 -1;
}


.table-row-cell #scoreCountTable{
    -fx-cell-size: 30px;
    /*-fx-alignment: center;*/
}

/*.table-view > .column-header-background {*/
/*    -fx-pref-height: 30px;*/
/*}*/
